*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #4169e1, #1e90ff, #00BFFF);
    color: #fff;
}

header{
    background: linear-gradient(to right, #ADD8E6, #87CEEB, #87CEFA);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 1rem;  
}

nav{
    display: flex;
}

nav a{
    text-decoration: none;
    color: #000;
    margin: 0 15px;
    font-weight: 600;
    align-items: center;
    font-size: 1.5rem;
}

    img{
        margin-left: 18rem;
    }

    h1{
        font-size: 50px;
        margin-right: 18rem;
    }


